<!DOCTYPE html>
<html lang="en">
    <body>
<form id="FormularioMedicos" method="POST" target="/new-entry" class="card card-body">

      <div class="form-group">
        <label for="title">Title</label>
        <input name="Nombre" type="text" class="form-control" placeholder="Nombre" autofocus required>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input name="Apellido" type="text" class="form-control" placeholder="Apellido" autofocus required>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input name="Cedula" type="text" class="form-control" placeholder="Cedula" autofocus required>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input name="Especialidad" type="text" class="form-control" placeholder="Especialidad" autofocus required>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input name="Consultorio" type="text" class="form-control" placeholder="Consultorio" autofocus required>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input name="Correo" type="text" class="form-control" placeholder="Correo" autofocus required>
      </div>

        </form>
        <button>Enviar</button>
      
       <p>Formulario Pacientes</p>
        <form id="FormularioPacientes" method="POST" target="/new-entry" class="card card-body">
    
            <div class="form-group">
                <label for="title">Title</label>
                <input name="Nombre" type="text" class="form-control" placeholder="Nombre" autofocus required>
              </div>

              <div class="form-group">
                <label for="title">Title</label>
                <input name="Apellido" type="text" class="form-control" placeholder="Apellido" autofocus required>
              </div>
              
              <div class="form-group">
                <label for="title">Title</label>
                <input name="Cedula" type="text" class="form-control" placeholder="Cedula" autofocus required>
              </div>  
              
              <div class="form-group">
                <label for="title">Title</label>
                <input name="Edad" type="text" class="form-control" placeholder="Edad" autofocus required>
              </div>
      
              <div class="form-group">
                <label for="title">Title</label>
                <input name="Telefono" type="text" class="form-control" placeholder="Telefono" autofocus required>
              </div>

              <div class="form-group">
                <label for="title">Title</label>
                <input name="Especialidad" type="text" class="form-control" placeholder="Especialidad" autofocus required>
              </div>
          </form>
          <button>Enviar</button>
        </body>